@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
$bg : #323232;
$text : #f1f1f1;
$border : #ffffff8f;
body{
    font-family: 'Roboto',sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg;
    color: $text;
    .container{
        text-align: center;
        #input{
            width: 14em;
            margin: 0.4em;
            padding: 0.5em;
            background: $bg;
            color:$text;
            border: $border solid 2px;
            border-radius: 3px;
            transition: ease 0.3s;
        }
        #input:focus{
            width: 17em;
        }
        .todos{
            list-style: none;
            padding: 0.5em;
            border-radius: 5px;
            margin: 1em;
            background: darken($bg,6%);
            li{
                margin: 1em;
                
            }
        }
    }
}
.empty{
     opacity: 0.5;
.shadow{
box-shadow: 10px 10px 108px -28px rgba(0,0,0,0.5);
}